.banner{
    height: 45vh;
    background-image: url(../Elementos/Productos/banner5.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner_titulo{
    font-size: 3rem;
    color: white;
}

.banner_subtitulo{
    font-size: 2rem;
    color: white;
}

