.header{
    background-color: var(--amarillo-claro);
}

.header .container{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.logo a{
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    color:var(--naranja);
}

.logo-y-buscador{
    display: flex;
    align-items: center;
    width: 35vw;
    justify-content: space-between;
}

.buscador{
    /*background-color: var(--amarillo-medio);*/
    border: 3px solid var(--amarillo-medio);
    border-radius: 20px;
    height: 2rem;
    display: flex;
    justify-content: space-between;
}
.buscador_input{
    border: none;
    background:none;
    padding-left: 1rem;
    width: 19vw;
    outline: none;
}

.buscador_boton{
    background-color: var(--amarillo-medio);
    border: none;
    width: 2.5rem;
    border-radius: 0 20px 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buscador_boton img{
    height: 1.5rem;
    align-self: center;
}

.login{
    border: 3px solid var(--amarillo-medio);
    border-radius: 20px;
    height: 2rem;
    display: flex;
    align-items: center;
    color: var(--naranja);
    font-weight: bold;
    padding: 0 1rem;
    display: flex;
    align-items: center;
}

.login img{
    height: 1.5rem;
    margin-right: 0.5rem;
}

