.header{
    background-color: var(--amarillo-claro);
}

.header .container{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.logo a{
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    color:var(--naranja);
}

.logo-y-buscador{
    display: flex;
    align-items: center;
    width: 35vw;
    justify-content: space-between;
}

.buscador{
    background-color: var(--amarillo-claro);
    border: 3px solid var(--amarillo-medio);
}

.buscador_boton{
    background-color: var(--amarillo-medio);
}


.login{
    border: 3px solid var(--amarillo-medio);
    border-radius: 20px;
    height: 2rem;
    display: flex;
    align-items: center;
    color: var(--naranja);
    font-weight: bold;
    padding: 0 1rem;
    display: flex;
    align-items: center;
}

.login img{
    height: 1.5rem;
    margin-right: 0.5rem;
}

