:root{
    --amarillo-claro:#ffe7bf;
    --amarillo-medio:#ffc978;
    --verde:#c9c987;
    --amarillo-oscuro:#d1a664;
    --naranja:#c27b57;
}

.body{
    background-color: #f5f5f5;
    font-family: 'Comfortaa', cursive;
}

.container{
    width: 80vw;
    margin:0 auto;
}

a{
    text-decoration: none;
}
